.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 40px;
}

.block-todo{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 600px;
  height: 100%;
  flex-wrap: wrap;
}

input{
  height: 30px;
  width: 200px;
}

.todo-card {
  height: 200px;
  width: 300px;
  border: black 2px dashed;
}